* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: #004e42;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}


.fas, .fa {
    cursor: pointer;
}


.fa-microphone {
    color: #14A76C;
}

.fa-microphone:hover {
    color: #0c6e47;
}

.container{
    position:relative; 
    top: 6px;
    left: -18px;
    width: 38px; 
    height: 45px;
    background-image: url('/assets/NCRAtleosMicIcon.png'); /* Add this line */
    background-size: cover; /* This will ensure that your background covers the entire container */
    background-position: center; /* This will center your background image in the container */
}